<h1>Demo#hello</h1>
<p>
  This is the hello template and was made possible by
  adding the default route
</p>
<p>  match ':controller(/:action(/:id))', :via => :get </p>
<%= 1 + 1 %>
<br/>
<% target = "Kinsey" %>
<%= "Hello, my name is #{target}" %>

<% 2.times do %>
<%= "xxx" %>
<% end %><br/>

<% @array.each do |n| %>
  <%= n %>
<% end %><br/>

<%= link_to('Ruby Link', {:action => 'somethingRandom'}) %><br/>

id from params: <%= params['id'] %><br/>
id from @instance: <%= @id %><br/>
name: <%= @name %><br/>
page: <%= @page %><br/>
next page: <%= @page.to_i + 1 %><br/>
Inspect Params <%= params.inspect %>
